<!-- HEADER AREA -->
<md-toolbar ng-controller="ToggleController" class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="actions.openLeftNav()">
            <md-icon md-svg-icon="navigation:menu"></md-icon>
        </md-button>
        <h3>
            <span>Fast Catalog</span>
        </h3>
    </div>
</md-toolbar>

<!-- MENU SIDEBAR -->
<div ng-controller="SideBarController" ng-include="'Spa/modules/nav/sidebar.html'"></div>

<!-- LOADER -->
<div layout="row" layout-align="space-around">
    <md-progress-linear md-mode="indeterminate" ng-show="$root.$loading" class="md-accent loader"></md-progress-linear>
</div>

<!-- CONTENT AREA -->
<md-content layout="row" ui-view></md-content>


