<md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2" >
    <md-content>
        <md-list>
            <md-subheader class="md-no-sticky">Fast Catalog samples</md-subheader>
            <md-list-item class="md-2-line" ng-click="actions.navigateTo('intro')">
                <md-icon md-svg-icon="action:description" style="width: 50px; height: 50px;"></md-icon>
                <div class="md-list-item-text">
                    <h3>Introduction</h3>
                    <p>Why and How</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-2-line" ng-click="actions.navigateTo('mongo')">
                <img src="http://scraping.pro/res/mongodb/mongodb.jpg" style="width: 50px; height: 50px; margin-right: 32px"></img>
                <div class="md-list-item-text">
                    <h3>With MongoDb</h3>
                    <p>Multi-attribute search with MongoDb API</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="actions.navigateTo('elastic')" >
                <img src="https://avatars0.githubusercontent.com/u/6764390" style="width: 50px; height: 50px; margin-right: 32px"></img>
                <div class="md-list-item-text">
                    <h3>With ElasticSearch</h3>
                    <p>Multi-attribute search with Elastic API</p>
                </div>
            </md-list-item>
        </md-list> 
    </md-content>
</md-sidenav>
